.mainContainer {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.containerForm {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.buttonPassword{
  margin: 4% 0;
  background-color: transparent;
  text-align: right;
  width: 65%;
  border: none;
  color: #C1630C;
  font-size: 16px;
  font-weight: 500;
}

.buttonPassword:hover, .register:hover{
  cursor: pointer;
}

.register{
  font-size: 1rem;
  background-color: transparent;
  color: #C1630C;
  border: none;
}

@media (width <= 700px) {
  .mainContainer{
    width: 80%;
  }
  .containerForm{
    width: 100%;
  }
}