.mainContainer {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.containerForm {
  width: 55%;
   height: 700px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 10px;
    
}

.login {
  font-size: 1rem;
  background-color: transparent;
  color: #c1630c;
  border: none;
}

.login:hover{
    cursor: pointer;
}