.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap:1.3rem;
  letter-spacing: 0.3px;
}

.title{
  font-weight: 550;
  font-size: 1.5rem;
}